.main_content{
    height: 500px;
}
.slider{
    height: 70%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slider__nav{
    width: 15px;
    height: 15px;
    margin: 2rem 1em;
    border-radius: 10%;
    z-index: 10;
    outline: 8px solid grey;
    outline-offset: 6px;
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
}
.slider__nav:checked{
    animation: check 0.4s linear forwards;

}
.slider__nav:checked:nth-of-type(1)~.slider__inner{
    left: 0%;
}
.slider__nav:checked:nth-of-type(2)~.slider__inner{
    left: -100%;
}
.slider__nav:checked:nth-of-type(3)~.slider__inner{
    left: -200%;
}
.slider__nav:checked:nth-of-type(4)~.slider__inner{
    left: -300%;
}
.slider__inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    transition: left .5s;
    display: flex;
    flex-flow: row nowrap;
    z-index: -1;
}
.slider__contents{
    padding: 2rem;
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.slider__caption{
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    margin-top: 100px;

}
.slider__text{
    color: #555;
    margin-bottom: 300px;
    max-width: 300px;
}
@-webkit-keyframes check{
    50%{
        outline-color: black;
        box-shadow: 0 0 0 12px black, 0 0 0 36px rgba(51, 51, 51,0.2);
    }
    100%{
        outline-color: black;
        box-shadow: 0 0 0 0 black, 0 0 0 0 rgba(51, 51, 51,0);

    }
}
@keyframes check{
    50%{
        outline-color: black;
        box-shadow: 0 0 0 12px black, 0 0 0 36px rgba(51, 51, 51,0.2);
    }
    100%{
        outline-color: black;
        box-shadow: 0 0 0 0 black, 0 0 0 0 rgba(51, 51, 51,0);

    }
}